@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=VT323&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
    font-family: 'VT323', monospace;
}

/*/ Navigation Bar */
.navbar {
    background-color: #000000;
}

.nav__container {
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav__left {
    display: flex;
    align-items: center;
}

.nav__right {
    display: flex;
    align-items: center;
}

.nav__logo {
    max-width: 100px;
}

.nav__lists {
    display: flex;
}

.nav__list {
    margin-right: 15px;
}

.nav__button {
    color: #ffffff;
    font-size: 30px;
}

.nav__button:hover {
    border-bottom: 2px solid #ffffff;
}

.nav__button:active {
    color: #0075BE;
    border-bottom: 2px solid #ffcb05;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Main Page */

/* About Us */

/* Sign Up */

/* Log In */

/* Footer */
footer {
    position: absolute;
    display: flex;
    background-color: #000000;
    width: 100%;
    color: white;
    justify-content: center;
    bottom: 0;
    align-items: center;
}

.footer-logo {
    width: 200px;
    height: 200px;
}

.copyright {
    position: relative;
    text-align: center;
    bottom: 40px;
}

.pokeball {
    height: 200px;
    position: absolute;
    right: 0;
    bottom: 20px
}

.footer-group {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.footer-ul {
    position: relative;
    display: flex;
    list-style-type: none;
    font-size: 25px;
    bottom: 30px;
    left: 21px;
}

.footer-link {
    border-right: solid;
    padding-left: 20px;
    padding-right: 20px;
}

.footer-last-link {
    border-right: none;
    padding-left: 20px;
    padding-right: 20px;

}

footer li:hover {
    background-color: lightgray;
}

/*
right: 25px;
    box-sizing: border-box;

} */